{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">
        <form class="navbar-form navbar-left search-image" method="POST" action="/" role="search">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
        </form><br>
    </div>

    <div class="result-urls">
        {% if results %}
            {% for result in results %}
                <div>
                <a href="/{{ result.keywords }}/">{{ result.keywords }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="result-images">

    </div>

{% endblock content %}